In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns


#한글 사용
from matplotlib import rc  
rc('font', family='AppleGothic') 			
plt.rcParams['axes.unicode_minus'] = False  

df = pd.read_csv('시간별주차현황.csv')  #df 데이터(모집단)

df.head() #데이터 확인

    주차장명            시간대  주차면수  입차대수  출차대수
0  가양라이품  2021-09-29 00    38     0     1
1  가양라이품  2021-09-29 01    38     0     0
2  가양라이품  2021-09-29 02    38     0     0
3  가양라이품  2021-09-29 03    38     0     0
4  가양라이품  2021-09-29 04    38     0     0

In [10]:
#가양라이품 행 데이터 뽑기
gayang=df.loc[df['주차장명']=='가양라이품']
gayang

       주차장명            시간대  주차면수  입차대수  출차대수
0     가양라이품  2021-09-29 00    38     0     1
1     가양라이품  2021-09-29 01    38     0     0
2     가양라이품  2021-09-29 02    38     0     0
3     가양라이품  2021-09-29 03    38     0     0
4     가양라이품  2021-09-29 04    38     0     0
...     ...            ...   ...   ...   ...
5131  가양라이품  2022-04-30 19    38     1     0
5132  가양라이품  2022-04-30 20    38     0     2
5133  가양라이품  2022-04-30 21    38     1     0
5134  가양라이품  2022-04-30 22    38     0     0
5135  가양라이품  2022-04-30 23    38     0     1

[5136 rows x 5 columns]

In [12]:
#주차면수 입차대수 출차대수   
#입구혼잡도   입차대수+출차대수/주차면수

df['시간당입구출입']=df['입차대수'] + df['출차대수']#/60 #(분단위)
df.head(10)
# df['날짜']
# df['시간']
#시간대별 입구출입...? (매일의 평균...??) 시간대별입구출입의 합/ 일 수=>시간대별 입구출입혼잡도...?
#날짜별로 잘라야 하는데...? 2021-09-29
#날짜별 시간당 입구출입...->여러날의 같은 시간대...?
#시간당입구출입의 합/24시간 관측
#평균주차방별 입구혼잡도: 시간당입구혼잡도의 합/24(시간당입구혼잡도의 평균)

#최종 결과 csv는 주차장명 주차장평균입구혼잡도

    주차장명            시간대  주차면수  입차대수  출차대수  시간당입구출입
0  가양라이품  2021-09-29 00    38     0     1        1
1  가양라이품  2021-09-29 01    38     0     0        0
2  가양라이품  2021-09-29 02    38     0     0        0
3  가양라이품  2021-09-29 03    38     0     0        0
4  가양라이품  2021-09-29 04    38     0     0        0
5  가양라이품  2021-09-29 05    38     1     0        1
6  가양라이품  2021-09-29 06    38     1     0        1
7  가양라이품  2021-09-29 07    38     4     1        5
8  가양라이품  2021-09-29 08    38     5     1        6
9  가양라이품  2021-09-29 09    38    11     0       11

In [23]:
#시간대-> 날짜, 시간분리
df['날짜'] = df['시간대'].str.split().str[0]
df['시간'] = df['시간대'].str.split().str[1]
df.head(25)

     주차장명            시간대  주차면수  입차대수  출차대수  시간당입구출입          날짜  시간
0   가양라이품  2021-09-29 00    38     0     1        1  2021-09-29  00
1   가양라이품  2021-09-29 01    38     0     0        0  2021-09-29  01
2   가양라이품  2021-09-29 02    38     0     0        0  2021-09-29  02
3   가양라이품  2021-09-29 03    38     0     0        0  2021-09-29  03
4   가양라이품  2021-09-29 04    38     0     0        0  2021-09-29  04
5   가양라이품  2021-09-29 05    38     1     0        1  2021-09-29  05
6   가양라이품  2021-09-29 06    38     1     0        1  2021-09-29  06
7   가양라이품  2021-09-29 07    38     4     1        5  2021-09-29  07
8   가양라이품  2021-09-29 08    38     5     1        6  2021-09-29  08
9   가양라이품  2021-09-29 09    38    11     0       11  2021-09-29  09
10  가양라이품  2021-09-29 10    38     7     1        8  2021-09-29  10
11  가양라이품  2021-09-29 11    38     6     1        7  2021-09-29  11
12  가양라이품  2021-09-29 12    38     1     0        1  2021-09-29  12
13  가양라이품  2021-09-29 13    38     2     8       10  2021-09-29  13
14  가양라이품  2021-09-29 14    38     2     1        3  2021-09-29  14
15  가양라이품  2021-09-29 15    38     2     4        6  2021-09-29  15
16  가양라이품  2021-09-29 16    38     1     4        5  2021-09-29  16
17  가양라이품  2021-09-29 17    38     1     3        4  2021-09-29  17
18  가양라이품  2021-09-29 18    38     1     7        8  2021-09-29  18
19  가양라이품  2021-09-29 19    38     0    12       12  2021-09-29  19
20  가양라이품  2021-09-29 20    38     2     1        3  2021-09-29  20
21  가양라이품  2021-09-29 21    38     0     3        3  2021-09-29  21
22  가양라이품  2021-09-29 22    38     1     2        3  2021-09-29  22
23  가양라이품  2021-09-29 23    38     0     4        4  2021-09-29  23
24  가양라이품  2021-09-30 00    38     0     3        3  2021-09-30  00

In [25]:
#같은 시간의 시간당 출입/더한 날짜수: 시간대별입구 혼잡 평균
#주차장명 시간대별입구 혼잡 평균 *24=>각 시간별 나오겠지?
#전부 더하고 /24 평균내면...? 주차장별 입구혼잡도..?

#시간대별입구혼잡평균

#같은 주차장명 and 같은 시간 ==>행 선택

#가양라이품 00시 시간대별입구혼잡평균
#가양라이품 01시 
df_gayang=df.loc[df['주차장명']=='가양라이품']
for i 
[df_gayang['시간']==i]

       주차장명            시간대  주차면수  입차대수  출차대수  시간당입구출입          날짜  시간
0     가양라이품  2021-09-29 00    38     0     1        1  2021-09-29  00
1     가양라이품  2021-09-29 01    38     0     0        0  2021-09-29  01
2     가양라이품  2021-09-29 02    38     0     0        0  2021-09-29  02
3     가양라이품  2021-09-29 03    38     0     0        0  2021-09-29  03
4     가양라이품  2021-09-29 04    38     0     0        0  2021-09-29  04
...     ...            ...   ...   ...   ...      ...         ...  ..
5131  가양라이품  2022-04-30 19    38     1     0        1  2022-04-30  19
5132  가양라이품  2022-04-30 20    38     0     2        2  2022-04-30  20
5133  가양라이품  2022-04-30 21    38     1     0        1  2022-04-30  21
5134  가양라이품  2022-04-30 22    38     0     0        0  2022-04-30  22
5135  가양라이품  2022-04-30 23    38     0     1        1  2022-04-30  23

[5136 rows x 8 columns]